.connect-me-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    height: 30px;
    color: black;
    border-color: yellow;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    margin: 6px;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
}

.text {
    font-weight: bold;
}

.my-button {
    background-color:cornflowerblue;
    border: none;
    transition: 0.3s;
    margin: 4px;
    color: white;
    font-weight: bold;
    font-size: larger;
}

.my-button:hover {
    background-color: rgb(53, 85, 144);
}